.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 1098px;
    max-width: 1400px;
    gap:80px;
    background-color: #F5F5F5;
    padding:56px 0px;
    
}

.show {
    opacity: 1;
    visibility: visible;
  }

.hidden {
    opacity: 0;
    visibility: hidden;
  }