#nav{
display: flex;
justify-content:space-between;
align-items: center;
height: 64px;
background-color:#FFFFFF ;
box-shadow:0px 4px 16px 4px rgba(0, 0, 0, 0.04); ;
border-radius: 0px 0px 8px 8px;
}
.logo{
    width: 70.4px;
    height: 32px;
    margin-left: 80px; 
}

.buscar{
    font-family: sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.25);
    width: 330px;
    height: 32px;
    border-radius: 4px;
    padding: 0px, 11px;
    background-color:#FFFFFF ;
    border: 1px solid #BFE8E8;

}
.favoritos{
    font-family: sans-serif;
    padding: 0px 24px;
    width: 131px;
    height: 32px;
    color: #FFFFFF;
    background-color:#66CCCC;
    border: 1px solid #66CCCC;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin-right: 39px;
    
}
.lupa{
    width: 34px;
    height: 32px;
    background-color:#66CCCC ;
    border: 1px solid #66CCCC;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    color: #FFFFFF;
    margin-left: 7.5px;    
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}
